/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');


@import url("components/banner.css");
@import url("components/service.css");
@import url("components/footer.css");

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* Utilities */
body {
  margin: 0;
  font-family: 'Spectral', serif;
  overflow: hidden;
}

h1, h2, h3, h4 {
  font-family: 'Spectral', serif;
}

a {
  text-decoration: none;
}

/* Custom design below! */
